<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<app-todo *ngFor="let todo of todos" [todo]="todo"  (completed)="onRecupOutput($event,todo)"></app-todo>  <!----injection d'un coposant todo dans app.component. -->

  <h1>Bienvenue sur {{ title }} Stefairlight!</h1>

<img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

</div>
<h2>{{varChampText}}</h2>

<h2>voila le string mot : {{strMot}}</h2>

<ul>
    <h3>ici j'affiche ma variable : {{ maVariable }}</h3>
    <!-- <p>Boutons </p> -->
    <li><input type ="button" (click)="incrementVariable()" value="Cliquer pour incrementer la variable"></li>

    <!-- <h3>{{ stockageTableau }}</h3> -->
  <li>
     <input type="text" [(ngModel)]="varChampText"/>
      <!-- input type="text" permet de creer un champ de saisie du type texte, Le texte saisi prendra pour variable le nom de  "varChampText" -->

     <input type="button" (click)="inputDuTableau()" value="Ajouter dans la liste">
  </li> <!-- Bouton d'ajout du texte  -->

     <li *ngFor="let item of monTableau">
        <input type="checkbox" name="active"  [checked]="true" equired ngModel #active >{{ item }}
    </li>

                  <!-- *ngFor...boucle for qui permet d'ecrire les items de la checkbox (directive Angular)-->
                  <!-- inputtype="checkbox" Permet de  creer les chexbox -->
                  <!-- type=name="active" Permet de  -->
                  <!-- type=name=required ngModel #active="ngModel" Permet de   -->
                  <!--[(ngModel)]=...Permet de binder -->
                  <!-- {{ item }}  -->

     <li> Ma liste compte {{nbrOccurences}}  occurences et contient {{nbrMot}} mots </li>

     <li> Dont  {{nbrElementsCoche}}  cochés </li>
     <li> et  {{nbrElementsDecoche}}  décochés </li>


</ul>

<router-outlet></router-outlet>
